
.logo {
    float: left;
    padding: 0;
    background-color: #e8d21b;
    margin: 0;
    position: fixed;
    top: 0;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    white-space:normal;
    width: 25%;
    overflow: hidden;
}

.menu {
    width: 200%;
    padding: 15px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-left: 2%;
    position: fixed;
    padding-left: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    white-space: normal;
}

li {
    float: left;
    padding-left: 4%;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: large;
    font-style: inherit;
}

li a:hover:not(.active) {
    background-color: rgba(52, 202, 250, 0.8);
}


.home{
    background-image: url("Imiage/beachNet.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width:100%;
}


header h1 {
    font-size: 800%;
    color: #e8d21b;
    font-family: Tangerine;
    padding: 0;
    margin-left: 31.5%;
    margin-bottom: 0;
    margin-top: 18%;
}

h2 {
    text-align: center;
    font-size: 500%;
    color: #e8d21b;
    font-family: "Tangerine", sans-serif;
    margin-top: 2%;
    padding-top: 4%;
    margin-bottom:0;
}

h3 {
    text-align: center;
    font-size: 200%;
    color: #a38f16;
    font-family: "Tangerine", sans-serif;
}




.button {
    width: 25%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-family: Centaur, Tangerine;
    font-size: 70px;
    color: black;
    margin-left:40%;
    margin-top: 1%;
    margin-bottom: 18%;
    background-color: rgba(52, 202, 250, 0.8);
    border: 2px solid rgba(76, 175, 80, 0);
}

.button:hover {
    background-color: rgba(232, 210, 27, 0.63);
    color: black;
}



body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.04);

}

 footer {
     background-color: #636363;

 }

.page{
    background-image: url("Imiage/beachNet4.jpg");
    box-shadow: 3px 3px 5px #888888;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width: 100%;
    padding: 0;
    margin-bottom: 0;

}

article {
    width:63%;
    float: left;
    margin-top: 14%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    border: solid;
    background-color: white;
    box-shadow: 3px 3px 5px #888888;

}
.text{
    padding-top: 3%;
    margin-top: 0;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: .912%;
    text-align: justify;
    font-family: Open Sans;
    background-color: white;

}
.text1{
    padding-top: 3%;
    margin-top: 0;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: .912%;
    text-align: justify;
    font-family: Open Sans;
    background-color: white;

}

h4 {
    font-size: 150%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

aside{
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
    margin-left: 2%;
    border: solid;

}


.leftpanel {
    float: left;
    margin-top:14%;
    padding: 2%;

}

table {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 11%;
    margin-bottom: 10%;
    box-shadow: 3px 3px 5px #888888;



}
table, th, td {
    border: double #f5ff01;

}
th, td {
    text-align: left;
    padding: 8px;
    color: #000000;
}
th {
    background-color: rgba(52, 202, 250, 0.8);
    color: #000000;
    font-size: 120%;
}

tr:nth-child(odd){background-color:rgba(52, 202, 250, 0.8)}
tr:nth-child(even){background-color:white}

form {
    border: double black 1px;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right:20%;
    padding: 2%;
    float: left;
    background-color: white;
    text-align: justify;
    box-shadow: 5px 5px 5px grey;
}