html {
    font-family: "arial", sans-serif;
}


.logo {
    float: left;
    padding: 0;
    background-color: #e8d21b;
    margin: 0;
    position: fixed;
    top: 0;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    white-space:normal;
    width: 25%;
    overflow: hidden;
}

.menu {
    width: 72%;
    padding: 15px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-left: 2%;
    position: absolute;
    padding-left: 25%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    white-space: normal;
}

li {
    float: left;
    padding-left: 4%;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: large;
    font-style: inherit;
}

li a:hover:not(.active) {
    background-color: #e8d21b;
}


.home{
    background-image: url("Imiage/beachNet.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width:100%;
}

header h1 {
    text-align: center;
    font-size: 1500%;
    color: #e8d21b;
    font-family: Tangerine;
    padding: 10%;
    float: none;
    margin-top: 4%;
}

.button {
    background-color: #e8d21b;
    color: white;
    width: 40%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Centaur;
    font-size: 50px;
    margin-left:30%;
    border: none;
    position: absolute;
    top:65%;
}

.button:hover {
    background-color: rgba(250, 16, 17, 0.8);
    color: white;
}

.button {
    background-color: #e8d21b;
    color: black;
    border: 2px solid rgba(76, 175, 80, 0);
}


body {
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "arial", sans-serif;
}
 h2{
    margin-top: 7%;
    padding: 0;
}

 footer {
     background-color: #636363;

 }



